<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="audittrail:item" type="SCBasics.AuditTrail.Commands.SCAuditTrailForItemCommand,SCBasics.AuditTrail"/>
      <command name="audittrail:site" type="SCBasics.AuditTrail.Commands.SCAuditTrailForSiteCommand,SCBasics.AuditTrail"/>
    </commands>
    <settings>
      <!--Location of AuditTrail realted pages. By default it will look under Tools Folder-->
      <setting name="SCBasics.AuditTrail.ForItemPageURL" value="/tools/audittrail/ForItem.aspx" />
      <setting name="SCBasics.AuditTrail.ForSitePageURL" value="/tools/audittrail/ForSite.aspx" />
    </settings>
  </sitecore>
</configuration>
