CREATE DATABASE [SCAuditTrail] ON  PRIMARY 
( NAME = N'SCAuditTrail', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SCAuditTrail.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SCAuditTrail_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SCAuditTrail_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [SCAuditTrail]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SCAuditTrail] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
